#sidebar {
  width: 200px;
  padding: 10px;
  /* position: fixed; */
  /* margin-left: -300px; */
  background-color: #7952b3;
  transition: 0.4s;
}

/* .nav-link {
  font-size: 1.25em;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  background-color: #ffffff26;
}

.dropdown-menu {
  background-color: #7952b3;
} */
